
            <h2>ТОП-20 навыков по всем вакансиям</h2>
            <table border="1">
                <tr>
                    <th>Навык</th>
                    <th>Частота</th>
                </tr>
        
                <tr>
                    <td>SQL</td>
                    <td>413916</td>
                </tr>
            
                <tr>
                    <td>Работа в команде</td>
                    <td>338019</td>
                </tr>
            
                <tr>
                    <td>Git</td>
                    <td>317027</td>
                </tr>
            
                <tr>
                    <td>JavaScript</td>
                    <td>287244</td>
                </tr>
            
                <tr>
                    <td>Английский язык</td>
                    <td>286812</td>
                </tr>
            
                <tr>
                    <td>Linux</td>
                    <td>268342</td>
                </tr>
            
                <tr>
                    <td>Грамотная речь</td>
                    <td>243906</td>
                </tr>
            
                <tr>
                    <td>Пользователь ПК</td>
                    <td>240195</td>
                </tr>
            
                <tr>
                    <td>Python</td>
                    <td>221413</td>
                </tr>
            
                <tr>
                    <td>Управление проектами</td>
                    <td>209590</td>
                </tr>
            
                <tr>
                    <td>Java</td>
                    <td>190674</td>
                </tr>
            
                <tr>
                    <td>HTML</td>
                    <td>188445</td>
                </tr>
            
                <tr>
                    <td>PostgreSQL</td>
                    <td>175808</td>
                </tr>
            
                <tr>
                    <td>PHP</td>
                    <td>163784</td>
                </tr>
            
                <tr>
                    <td>CSS</td>
                    <td>160762</td>
                </tr>
            
                <tr>
                    <td>MySQL</td>
                    <td>156451</td>
                </tr>
            
                <tr>
                    <td>Adobe Photoshop</td>
                    <td>150230</td>
                </tr>
            
                <tr>
                    <td>Ведение переговоров</td>
                    <td>142878</td>
                </tr>
            
                <tr>
                    <td>ООП</td>
                    <td>130162</td>
                </tr>
            
                <tr>
                    <td>1С программирование</td>
                    <td>127765</td>
                </tr>
            
            </table>
            <h3>График</h3>
            <img src="/static/images/top_skills_all_time.png" alt="ТОП-20 навыков по всем вакансиям">
        