
                <h2>Динамика уровня зарплат по годам</h2>
                <table border="1">
                    <tr>
                        <th>Год</th>
                        <th>Средняя зарплата (RUB)</th>
                    </tr>
            
                    <tr>
                        <td>2008</td>
                        <td>27098</td>
                    </tr>
                
                    <tr>
                        <td>2009</td>
                        <td>61594</td>
                    </tr>
                
                    <tr>
                        <td>2010</td>
                        <td>58953</td>
                    </tr>
                
                    <tr>
                        <td>2011</td>
                        <td>56634</td>
                    </tr>
                
                    <tr>
                        <td>2012</td>
                        <td>66621</td>
                    </tr>
                
                    <tr>
                        <td>2013</td>
                        <td>67093</td>
                    </tr>
                
                    <tr>
                        <td>2014</td>
                        <td>69157</td>
                    </tr>
                
                    <tr>
                        <td>2015</td>
                        <td>85954</td>
                    </tr>
                
                    <tr>
                        <td>2016</td>
                        <td>85110</td>
                    </tr>
                
                    <tr>
                        <td>2017</td>
                        <td>92129</td>
                    </tr>
                
                    <tr>
                        <td>2018</td>
                        <td>102236</td>
                    </tr>
                
                    <tr>
                        <td>2019</td>
                        <td>117161</td>
                    </tr>
                
                    <tr>
                        <td>2020</td>
                        <td>130037</td>
                    </tr>
                
                    <tr>
                        <td>2021</td>
                        <td>152770</td>
                    </tr>
                
                    <tr>
                        <td>2022</td>
                        <td>175083</td>
                    </tr>
                
                    <tr>
                        <td>2023</td>
                        <td>177422</td>
                    </tr>
                
                    <tr>
                        <td>2024</td>
                        <td>180110</td>
                    </tr>
                </table>
                <h2>Динамика количества вакансий по годам</h2>
                <table border="1">
                    <tr>
                        <th>Год</th>
                        <th>Количество вакансий</th>
                    </tr>
            
                    <tr>
                        <td>2007</td>
                        <td>5</td>
                    </tr>
                
                    <tr>
                        <td>2008</td>
                        <td>2</td>
                    </tr>
                
                    <tr>
                        <td>2009</td>
                        <td>26</td>
                    </tr>
                
                    <tr>
                        <td>2010</td>
                        <td>63</td>
                    </tr>
                
                    <tr>
                        <td>2011</td>
                        <td>115</td>
                    </tr>
                
                    <tr>
                        <td>2012</td>
                        <td>265</td>
                    </tr>
                
                    <tr>
                        <td>2013</td>
                        <td>438</td>
                    </tr>
                
                    <tr>
                        <td>2014</td>
                        <td>814</td>
                    </tr>
                
                    <tr>
                        <td>2015</td>
                        <td>1316</td>
                    </tr>
                
                    <tr>
                        <td>2016</td>
                        <td>2474</td>
                    </tr>
                
                    <tr>
                        <td>2017</td>
                        <td>3598</td>
                    </tr>
                
                    <tr>
                        <td>2018</td>
                        <td>5285</td>
                    </tr>
                
                    <tr>
                        <td>2019</td>
                        <td>6544</td>
                    </tr>
                
                    <tr>
                        <td>2020</td>
                        <td>9290</td>
                    </tr>
                
                    <tr>
                        <td>2021</td>
                        <td>15752</td>
                    </tr>
                
                    <tr>
                        <td>2022</td>
                        <td>14588</td>
                    </tr>
                
                    <tr>
                        <td>2023</td>
                        <td>12719</td>
                    </tr>
                
                    <tr>
                        <td>2024</td>
                        <td>8869</td>
                    </tr>
                </table>
                <h2>Графики</h2>
                <h3>Средняя зарплата</h3>
                <img src="/static/images/salary_trends_backend.png" alt="Динамика зарплат">
                <h3>Количество вакансий</h3>
                <img src="/static/images/vacancy_counts_backend.png" alt="Динамика количества вакансий">
            