
            <h1>ТОП-20 навыков по годам для Backend-программистов</h1>
            <table border="1">
                <tr>
                    <th>Год</th>
                    <th>Навык</th>
                    <th>Частота</th>
                </tr>
        
                    <tr>
                        <td>2024</td>
                        <td>PostgreSQL</td>
                        <td>2177</td>
                    </tr>
                
                    <tr>
                        <td>2024</td>
                        <td>Git</td>
                        <td>1813</td>
                    </tr>
                
                    <tr>
                        <td>2024</td>
                        <td>PHP</td>
                        <td>1356</td>
                    </tr>
                
                    <tr>
                        <td>2024</td>
                        <td>Python</td>
                        <td>1339</td>
                    </tr>
                
                    <tr>
                        <td>2024</td>
                        <td>Docker</td>
                        <td>1306</td>
                    </tr>
                
                    <tr>
                        <td>2024</td>
                        <td>SQL</td>
                        <td>1294</td>
                    </tr>
                
                    <tr>
                        <td>2024</td>
                        <td>MySQL</td>
                        <td>1045</td>
                    </tr>
                
                    <tr>
                        <td>2024</td>
                        <td>Redis</td>
                        <td>880</td>
                    </tr>
                
                    <tr>
                        <td>2024</td>
                        <td>Node.js</td>
                        <td>856</td>
                    </tr>
                
                    <tr>
                        <td>2024</td>
                        <td>JavaScript</td>
                        <td>797</td>
                    </tr>
                
                    <tr>
                        <td>2024</td>
                        <td>RabbitMQ</td>
                        <td>744</td>
                    </tr>
                
                    <tr>
                        <td>2024</td>
                        <td>Java</td>
                        <td>695</td>
                    </tr>
                
                    <tr>
                        <td>2024</td>
                        <td>Linux</td>
                        <td>644</td>
                    </tr>
                
                    <tr>
                        <td>2024</td>
                        <td>API</td>
                        <td>596</td>
                    </tr>
                
                    <tr>
                        <td>2024</td>
                        <td>REST</td>
                        <td>593</td>
                    </tr>
                
                    <tr>
                        <td>2024</td>
                        <td>Laravel</td>
                        <td>574</td>
                    </tr>
                
                    <tr>
                        <td>2024</td>
                        <td>MongoDB</td>
                        <td>526</td>
                    </tr>
                
                    <tr>
                        <td>2024</td>
                        <td>TypeScript</td>
                        <td>494</td>
                    </tr>
                
                    <tr>
                        <td>2024</td>
                        <td>ООП</td>
                        <td>480</td>
                    </tr>
                
                    <tr>
                        <td>2024</td>
                        <td>C#</td>
                        <td>476</td>
                    </tr>
                <h3>2024</h3><img src="/static/images/top_skills_backend_2024.png" alt="ТОП-20 навыков для Backend-программистов в 2024"><br>
                    <tr>
                        <td>2023</td>
                        <td>Git</td>
                        <td>3357</td>
                    </tr>
                
                    <tr>
                        <td>2023</td>
                        <td>PostgreSQL</td>
                        <td>3144</td>
                    </tr>
                
                    <tr>
                        <td>2023</td>
                        <td>PHP</td>
                        <td>2539</td>
                    </tr>
                
                    <tr>
                        <td>2023</td>
                        <td>MySQL</td>
                        <td>2036</td>
                    </tr>
                
                    <tr>
                        <td>2023</td>
                        <td>SQL</td>
                        <td>1994</td>
                    </tr>
                
                    <tr>
                        <td>2023</td>
                        <td>Docker</td>
                        <td>1894</td>
                    </tr>
                
                    <tr>
                        <td>2023</td>
                        <td>Python</td>
                        <td>1693</td>
                    </tr>
                
                    <tr>
                        <td>2023</td>
                        <td>ООП</td>
                        <td>1315</td>
                    </tr>
                
                    <tr>
                        <td>2023</td>
                        <td>Linux</td>
                        <td>1278</td>
                    </tr>
                
                    <tr>
                        <td>2023</td>
                        <td>Node.js</td>
                        <td>1161</td>
                    </tr>
                
                    <tr>
                        <td>2023</td>
                        <td>JavaScript</td>
                        <td>1145</td>
                    </tr>
                
                    <tr>
                        <td>2023</td>
                        <td>Redis</td>
                        <td>1142</td>
                    </tr>
                
                    <tr>
                        <td>2023</td>
                        <td>Java</td>
                        <td>1123</td>
                    </tr>
                
                    <tr>
                        <td>2023</td>
                        <td>Laravel</td>
                        <td>1019</td>
                    </tr>
                
                    <tr>
                        <td>2023</td>
                        <td>RabbitMQ</td>
                        <td>1012</td>
                    </tr>
                
                    <tr>
                        <td>2023</td>
                        <td>MongoDB</td>
                        <td>894</td>
                    </tr>
                
                    <tr>
                        <td>2023</td>
                        <td>C#</td>
                        <td>777</td>
                    </tr>
                
                    <tr>
                        <td>2023</td>
                        <td>Backend</td>
                        <td>774</td>
                    </tr>
                
                    <tr>
                        <td>2023</td>
                        <td>REST</td>
                        <td>763</td>
                    </tr>
                
                    <tr>
                        <td>2023</td>
                        <td>API</td>
                        <td>760</td>
                    </tr>
                <h3>2023</h3><img src="/static/images/top_skills_backend_2023.png" alt="ТОП-20 навыков для Backend-программистов в 2023"><br>
                    <tr>
                        <td>2022</td>
                        <td>Git</td>
                        <td>4953</td>
                    </tr>
                
                    <tr>
                        <td>2022</td>
                        <td>PostgreSQL</td>
                        <td>3692</td>
                    </tr>
                
                    <tr>
                        <td>2022</td>
                        <td>PHP</td>
                        <td>3183</td>
                    </tr>
                
                    <tr>
                        <td>2022</td>
                        <td>MySQL</td>
                        <td>2965</td>
                    </tr>
                
                    <tr>
                        <td>2022</td>
                        <td>SQL</td>
                        <td>2902</td>
                    </tr>
                
                    <tr>
                        <td>2022</td>
                        <td>ООП</td>
                        <td>2139</td>
                    </tr>
                
                    <tr>
                        <td>2022</td>
                        <td>Docker</td>
                        <td>2077</td>
                    </tr>
                
                    <tr>
                        <td>2022</td>
                        <td>Python</td>
                        <td>1961</td>
                    </tr>
                
                    <tr>
                        <td>2022</td>
                        <td>Linux</td>
                        <td>1867</td>
                    </tr>
                
                    <tr>
                        <td>2022</td>
                        <td>JavaScript</td>
                        <td>1785</td>
                    </tr>
                
                    <tr>
                        <td>2022</td>
                        <td>Java</td>
                        <td>1635</td>
                    </tr>
                
                    <tr>
                        <td>2022</td>
                        <td>Node.js</td>
                        <td>1621</td>
                    </tr>
                
                    <tr>
                        <td>2022</td>
                        <td>Redis</td>
                        <td>1337</td>
                    </tr>
                
                    <tr>
                        <td>2022</td>
                        <td>C#</td>
                        <td>1144</td>
                    </tr>
                
                    <tr>
                        <td>2022</td>
                        <td>MongoDB</td>
                        <td>1068</td>
                    </tr>
                
                    <tr>
                        <td>2022</td>
                        <td>Laravel</td>
                        <td>1059</td>
                    </tr>
                
                    <tr>
                        <td>2022</td>
                        <td>Английский язык</td>
                        <td>1026</td>
                    </tr>
                
                    <tr>
                        <td>2022</td>
                        <td>RabbitMQ</td>
                        <td>795</td>
                    </tr>
                
                    <tr>
                        <td>2022</td>
                        <td>Backend</td>
                        <td>756</td>
                    </tr>
                
                    <tr>
                        <td>2022</td>
                        <td>Spring Framework</td>
                        <td>752</td>
                    </tr>
                <h3>2022</h3><img src="/static/images/top_skills_backend_2022.png" alt="ТОП-20 навыков для Backend-программистов в 2022"><br>
                    <tr>
                        <td>2021</td>
                        <td>Git</td>
                        <td>4676</td>
                    </tr>
                
                    <tr>
                        <td>2021</td>
                        <td>PostgreSQL</td>
                        <td>3488</td>
                    </tr>
                
                    <tr>
                        <td>2021</td>
                        <td>PHP</td>
                        <td>2910</td>
                    </tr>
                
                    <tr>
                        <td>2021</td>
                        <td>MySQL</td>
                        <td>2838</td>
                    </tr>
                
                    <tr>
                        <td>2021</td>
                        <td>SQL</td>
                        <td>2793</td>
                    </tr>
                
                    <tr>
                        <td>2021</td>
                        <td>Python</td>
                        <td>2221</td>
                    </tr>
                
                    <tr>
                        <td>2021</td>
                        <td>ООП</td>
                        <td>2139</td>
                    </tr>
                
                    <tr>
                        <td>2021</td>
                        <td>Linux</td>
                        <td>2030</td>
                    </tr>
                
                    <tr>
                        <td>2021</td>
                        <td>JavaScript</td>
                        <td>1995</td>
                    </tr>
                
                    <tr>
                        <td>2021</td>
                        <td>Java</td>
                        <td>1803</td>
                    </tr>
                
                    <tr>
                        <td>2021</td>
                        <td>Node.js</td>
                        <td>1532</td>
                    </tr>
                
                    <tr>
                        <td>2021</td>
                        <td>Docker</td>
                        <td>1521</td>
                    </tr>
                
                    <tr>
                        <td>2021</td>
                        <td>Redis</td>
                        <td>1173</td>
                    </tr>
                
                    <tr>
                        <td>2021</td>
                        <td>C#</td>
                        <td>1088</td>
                    </tr>
                
                    <tr>
                        <td>2021</td>
                        <td>MongoDB</td>
                        <td>1082</td>
                    </tr>
                
                    <tr>
                        <td>2021</td>
                        <td>Django Framework</td>
                        <td>922</td>
                    </tr>
                
                    <tr>
                        <td>2021</td>
                        <td>Spring Framework</td>
                        <td>914</td>
                    </tr>
                
                    <tr>
                        <td>2021</td>
                        <td>Laravel</td>
                        <td>847</td>
                    </tr>
                
                    <tr>
                        <td>2021</td>
                        <td>HTML</td>
                        <td>815</td>
                    </tr>
                
                    <tr>
                        <td>2021</td>
                        <td>Английский язык</td>
                        <td>796</td>
                    </tr>
                <h3>2021</h3><img src="/static/images/top_skills_backend_2021.png" alt="ТОП-20 навыков для Backend-программистов в 2021"><br>
                    <tr>
                        <td>2020</td>
                        <td>Git</td>
                        <td>2934</td>
                    </tr>
                
                    <tr>
                        <td>2020</td>
                        <td>PostgreSQL</td>
                        <td>1968</td>
                    </tr>
                
                    <tr>
                        <td>2020</td>
                        <td>PHP</td>
                        <td>1803</td>
                    </tr>
                
                    <tr>
                        <td>2020</td>
                        <td>MySQL</td>
                        <td>1771</td>
                    </tr>
                
                    <tr>
                        <td>2020</td>
                        <td>SQL</td>
                        <td>1486</td>
                    </tr>
                
                    <tr>
                        <td>2020</td>
                        <td>Java</td>
                        <td>1260</td>
                    </tr>
                
                    <tr>
                        <td>2020</td>
                        <td>JavaScript</td>
                        <td>1238</td>
                    </tr>
                
                    <tr>
                        <td>2020</td>
                        <td>Python</td>
                        <td>1224</td>
                    </tr>
                
                    <tr>
                        <td>2020</td>
                        <td>Linux</td>
                        <td>1177</td>
                    </tr>
                
                    <tr>
                        <td>2020</td>
                        <td>ООП</td>
                        <td>1151</td>
                    </tr>
                
                    <tr>
                        <td>2020</td>
                        <td>Node.js</td>
                        <td>946</td>
                    </tr>
                
                    <tr>
                        <td>2020</td>
                        <td>MongoDB</td>
                        <td>719</td>
                    </tr>
                
                    <tr>
                        <td>2020</td>
                        <td>Redis</td>
                        <td>660</td>
                    </tr>
                
                    <tr>
                        <td>2020</td>
                        <td>C#</td>
                        <td>625</td>
                    </tr>
                
                    <tr>
                        <td>2020</td>
                        <td>REST</td>
                        <td>530</td>
                    </tr>
                
                    <tr>
                        <td>2020</td>
                        <td>Spring Framework</td>
                        <td>527</td>
                    </tr>
                
                    <tr>
                        <td>2020</td>
                        <td>Docker</td>
                        <td>525</td>
                    </tr>
                
                    <tr>
                        <td>2020</td>
                        <td>HTML</td>
                        <td>518</td>
                    </tr>
                
                    <tr>
                        <td>2020</td>
                        <td>CSS</td>
                        <td>506</td>
                    </tr>
                
                    <tr>
                        <td>2020</td>
                        <td>Django Framework</td>
                        <td>443</td>
                    </tr>
                <h3>2020</h3><img src="/static/images/top_skills_backend_2020.png" alt="ТОП-20 навыков для Backend-программистов в 2020"><br>
                    <tr>
                        <td>2019</td>
                        <td>Git</td>
                        <td>1282</td>
                    </tr>
                
                    <tr>
                        <td>2019</td>
                        <td>PHP</td>
                        <td>1138</td>
                    </tr>
                
                    <tr>
                        <td>2019</td>
                        <td>MySQL</td>
                        <td>984</td>
                    </tr>
                
                    <tr>
                        <td>2019</td>
                        <td>PostgreSQL</td>
                        <td>837</td>
                    </tr>
                
                    <tr>
                        <td>2019</td>
                        <td>JavaScript</td>
                        <td>771</td>
                    </tr>
                
                    <tr>
                        <td>2019</td>
                        <td>SQL</td>
                        <td>704</td>
                    </tr>
                
                    <tr>
                        <td>2019</td>
                        <td>Linux</td>
                        <td>678</td>
                    </tr>
                
                    <tr>
                        <td>2019</td>
                        <td>Python</td>
                        <td>651</td>
                    </tr>
                
                    <tr>
                        <td>2019</td>
                        <td>ООП</td>
                        <td>649</td>
                    </tr>
                
                    <tr>
                        <td>2019</td>
                        <td>Node.js</td>
                        <td>556</td>
                    </tr>
                
                    <tr>
                        <td>2019</td>
                        <td>Java</td>
                        <td>555</td>
                    </tr>
                
                    <tr>
                        <td>2019</td>
                        <td>HTML</td>
                        <td>375</td>
                    </tr>
                
                    <tr>
                        <td>2019</td>
                        <td>CSS</td>
                        <td>364</td>
                    </tr>
                
                    <tr>
                        <td>2019</td>
                        <td>C#</td>
                        <td>363</td>
                    </tr>
                
                    <tr>
                        <td>2019</td>
                        <td>Docker</td>
                        <td>353</td>
                    </tr>
                
                    <tr>
                        <td>2019</td>
                        <td>MongoDB</td>
                        <td>325</td>
                    </tr>
                
                    <tr>
                        <td>2019</td>
                        <td>Redis</td>
                        <td>319</td>
                    </tr>
                
                    <tr>
                        <td>2019</td>
                        <td>Symfony</td>
                        <td>278</td>
                    </tr>
                
                    <tr>
                        <td>2019</td>
                        <td>Yii</td>
                        <td>275</td>
                    </tr>
                
                    <tr>
                        <td>2019</td>
                        <td>REST</td>
                        <td>247</td>
                    </tr>
                <h3>2019</h3><img src="/static/images/top_skills_backend_2019.png" alt="ТОП-20 навыков для Backend-программистов в 2019"><br>
                    <tr>
                        <td>2018</td>
                        <td>Git</td>
                        <td>898</td>
                    </tr>
                
                    <tr>
                        <td>2018</td>
                        <td>PHP</td>
                        <td>777</td>
                    </tr>
                
                    <tr>
                        <td>2018</td>
                        <td>MySQL</td>
                        <td>708</td>
                    </tr>
                
                    <tr>
                        <td>2018</td>
                        <td>JavaScript</td>
                        <td>615</td>
                    </tr>
                
                    <tr>
                        <td>2018</td>
                        <td>PostgreSQL</td>
                        <td>576</td>
                    </tr>
                
                    <tr>
                        <td>2018</td>
                        <td>SQL</td>
                        <td>484</td>
                    </tr>
                
                    <tr>
                        <td>2018</td>
                        <td>ООП</td>
                        <td>431</td>
                    </tr>
                
                    <tr>
                        <td>2018</td>
                        <td>Linux</td>
                        <td>430</td>
                    </tr>
                
                    <tr>
                        <td>2018</td>
                        <td>Python</td>
                        <td>420</td>
                    </tr>
                
                    <tr>
                        <td>2018</td>
                        <td>Java</td>
                        <td>365</td>
                    </tr>
                
                    <tr>
                        <td>2018</td>
                        <td>Node.js</td>
                        <td>344</td>
                    </tr>
                
                    <tr>
                        <td>2018</td>
                        <td>HTML</td>
                        <td>344</td>
                    </tr>
                
                    <tr>
                        <td>2018</td>
                        <td>CSS</td>
                        <td>268</td>
                    </tr>
                
                    <tr>
                        <td>2018</td>
                        <td>C#</td>
                        <td>237</td>
                    </tr>
                
                    <tr>
                        <td>2018</td>
                        <td>MongoDB</td>
                        <td>220</td>
                    </tr>
                
                    <tr>
                        <td>2018</td>
                        <td>jQuery</td>
                        <td>218</td>
                    </tr>
                
                    <tr>
                        <td>2018</td>
                        <td>HTML5</td>
                        <td>203</td>
                    </tr>
                
                    <tr>
                        <td>2018</td>
                        <td>Redis</td>
                        <td>201</td>
                    </tr>
                
                    <tr>
                        <td>2018</td>
                        <td>ASP.NET</td>
                        <td>188</td>
                    </tr>
                
                    <tr>
                        <td>2018</td>
                        <td>Yii</td>
                        <td>182</td>
                    </tr>
                <h3>2018</h3><img src="/static/images/top_skills_backend_2018.png" alt="ТОП-20 навыков для Backend-программистов в 2018"><br>
                    <tr>
                        <td>2017</td>
                        <td>PHP</td>
                        <td>531</td>
                    </tr>
                
                    <tr>
                        <td>2017</td>
                        <td>Git</td>
                        <td>490</td>
                    </tr>
                
                    <tr>
                        <td>2017</td>
                        <td>MySQL</td>
                        <td>457</td>
                    </tr>
                
                    <tr>
                        <td>2017</td>
                        <td>JavaScript</td>
                        <td>398</td>
                    </tr>
                
                    <tr>
                        <td>2017</td>
                        <td>ООП</td>
                        <td>332</td>
                    </tr>
                
                    <tr>
                        <td>2017</td>
                        <td>PostgreSQL</td>
                        <td>326</td>
                    </tr>
                
                    <tr>
                        <td>2017</td>
                        <td>Linux</td>
                        <td>275</td>
                    </tr>
                
                    <tr>
                        <td>2017</td>
                        <td>SQL</td>
                        <td>248</td>
                    </tr>
                
                    <tr>
                        <td>2017</td>
                        <td>Node.js</td>
                        <td>210</td>
                    </tr>
                
                    <tr>
                        <td>2017</td>
                        <td>Python</td>
                        <td>170</td>
                    </tr>
                
                    <tr>
                        <td>2017</td>
                        <td>HTML</td>
                        <td>169</td>
                    </tr>
                
                    <tr>
                        <td>2017</td>
                        <td>Java</td>
                        <td>164</td>
                    </tr>
                
                    <tr>
                        <td>2017</td>
                        <td>jQuery</td>
                        <td>155</td>
                    </tr>
                
                    <tr>
                        <td>2017</td>
                        <td>CSS</td>
                        <td>154</td>
                    </tr>
                
                    <tr>
                        <td>2017</td>
                        <td>PHP5</td>
                        <td>146</td>
                    </tr>
                
                    <tr>
                        <td>2017</td>
                        <td>HTML5</td>
                        <td>128</td>
                    </tr>
                
                    <tr>
                        <td>2017</td>
                        <td>C#</td>
                        <td>127</td>
                    </tr>
                
                    <tr>
                        <td>2017</td>
                        <td>Yii</td>
                        <td>125</td>
                    </tr>
                
                    <tr>
                        <td>2017</td>
                        <td>MongoDB</td>
                        <td>119</td>
                    </tr>
                
                    <tr>
                        <td>2017</td>
                        <td>REST</td>
                        <td>117</td>
                    </tr>
                <h3>2017</h3><img src="/static/images/top_skills_backend_2017.png" alt="ТОП-20 навыков для Backend-программистов в 2017"><br>
                    <tr>
                        <td>2016</td>
                        <td>PHP</td>
                        <td>237</td>
                    </tr>
                
                    <tr>
                        <td>2016</td>
                        <td>MySQL</td>
                        <td>208</td>
                    </tr>
                
                    <tr>
                        <td>2016</td>
                        <td>Git</td>
                        <td>195</td>
                    </tr>
                
                    <tr>
                        <td>2016</td>
                        <td>JavaScript</td>
                        <td>163</td>
                    </tr>
                
                    <tr>
                        <td>2016</td>
                        <td>ООП</td>
                        <td>127</td>
                    </tr>
                
                    <tr>
                        <td>2016</td>
                        <td>Linux</td>
                        <td>124</td>
                    </tr>
                
                    <tr>
                        <td>2016</td>
                        <td>PostgreSQL</td>
                        <td>116</td>
                    </tr>
                
                    <tr>
                        <td>2016</td>
                        <td>SQL</td>
                        <td>103</td>
                    </tr>
                
                    <tr>
                        <td>2016</td>
                        <td>Python</td>
                        <td>95</td>
                    </tr>
                
                    <tr>
                        <td>2016</td>
                        <td>PHP5</td>
                        <td>84</td>
                    </tr>
                
                    <tr>
                        <td>2016</td>
                        <td>Java</td>
                        <td>82</td>
                    </tr>
                
                    <tr>
                        <td>2016</td>
                        <td>Node.js</td>
                        <td>79</td>
                    </tr>
                
                    <tr>
                        <td>2016</td>
                        <td>HTML5</td>
                        <td>70</td>
                    </tr>
                
                    <tr>
                        <td>2016</td>
                        <td>jQuery</td>
                        <td>69</td>
                    </tr>
                
                    <tr>
                        <td>2016</td>
                        <td>CSS</td>
                        <td>68</td>
                    </tr>
                
                    <tr>
                        <td>2016</td>
                        <td>Yii</td>
                        <td>66</td>
                    </tr>
                
                    <tr>
                        <td>2016</td>
                        <td>Nginx</td>
                        <td>61</td>
                    </tr>
                
                    <tr>
                        <td>2016</td>
                        <td>HTML</td>
                        <td>58</td>
                    </tr>
                
                    <tr>
                        <td>2016</td>
                        <td>REST</td>
                        <td>54</td>
                    </tr>
                
                    <tr>
                        <td>2016</td>
                        <td>MongoDB</td>
                        <td>54</td>
                    </tr>
                <h3>2016</h3><img src="/static/images/top_skills_backend_2016.png" alt="ТОП-20 навыков для Backend-программистов в 2016"><br>
                    <tr>
                        <td>2015</td>
                        <td>PHP</td>
                        <td>51</td>
                    </tr>
                
                    <tr>
                        <td>2015</td>
                        <td>Git</td>
                        <td>51</td>
                    </tr>
                
                    <tr>
                        <td>2015</td>
                        <td>MySQL</td>
                        <td>49</td>
                    </tr>
                
                    <tr>
                        <td>2015</td>
                        <td>Python</td>
                        <td>44</td>
                    </tr>
                
                    <tr>
                        <td>2015</td>
                        <td>ООП</td>
                        <td>42</td>
                    </tr>
                
                    <tr>
                        <td>2015</td>
                        <td>JavaScript</td>
                        <td>41</td>
                    </tr>
                
                    <tr>
                        <td>2015</td>
                        <td>PHP5</td>
                        <td>32</td>
                    </tr>
                
                    <tr>
                        <td>2015</td>
                        <td>Java</td>
                        <td>26</td>
                    </tr>
                
                    <tr>
                        <td>2015</td>
                        <td>Linux</td>
                        <td>26</td>
                    </tr>
                
                    <tr>
                        <td>2015</td>
                        <td>HTML</td>
                        <td>24</td>
                    </tr>
                
                    <tr>
                        <td>2015</td>
                        <td>MongoDB</td>
                        <td>24</td>
                    </tr>
                
                    <tr>
                        <td>2015</td>
                        <td>PostgreSQL</td>
                        <td>22</td>
                    </tr>
                
                    <tr>
                        <td>2015</td>
                        <td>Django Framework</td>
                        <td>22</td>
                    </tr>
                
                    <tr>
                        <td>2015</td>
                        <td>CSS</td>
                        <td>21</td>
                    </tr>
                
                    <tr>
                        <td>2015</td>
                        <td>SQL</td>
                        <td>18</td>
                    </tr>
                
                    <tr>
                        <td>2015</td>
                        <td>jQuery</td>
                        <td>16</td>
                    </tr>
                
                    <tr>
                        <td>2015</td>
                        <td>Ajax</td>
                        <td>16</td>
                    </tr>
                
                    <tr>
                        <td>2015</td>
                        <td>Yii</td>
                        <td>16</td>
                    </tr>
                
                    <tr>
                        <td>2015</td>
                        <td>CSS3</td>
                        <td>15</td>
                    </tr>
                
                    <tr>
                        <td>2015</td>
                        <td>HTML5</td>
                        <td>14</td>
                    </tr>
                <h3>2015</h3><img src="/static/images/top_skills_backend_2015.png" alt="ТОП-20 навыков для Backend-программистов в 2015"><br>
            </table>
        