
            <h2>Уровень зарплат по городам для всех профессий</h2>
            <table border="1">
                <tr>
                    <th>Город</th>
                    <th>Средняя зарплата (RUB)</th>
                </tr>
        
                <tr>
                    <td>Пестяки</td>
                    <td>1456508</td>
                </tr>
            
                <tr>
                    <td>Бар</td>
                    <td>1245706</td>
                </tr>
            
                <tr>
                    <td>Шахрисабз</td>
                    <td>674928</td>
                </tr>
            
                <tr>
                    <td>Айет</td>
                    <td>567361</td>
                </tr>
            
                <tr>
                    <td>Ашукино</td>
                    <td>510014</td>
                </tr>
            
                <tr>
                    <td>Шри-Ланка</td>
                    <td>500390</td>
                </tr>
            
                <tr>
                    <td>Шотландия</td>
                    <td>419206</td>
                </tr>
            
                <tr>
                    <td>Моршин</td>
                    <td>409405</td>
                </tr>
            
                <tr>
                    <td>Винники</td>
                    <td>409405</td>
                </tr>
            
                <tr>
                    <td>Золочев (Львовская область)</td>
                    <td>409405</td>
                </tr>
            
                <tr>
                    <td>Дубляны</td>
                    <td>409405</td>
                </tr>
            
                <tr>
                    <td>Жолква</td>
                    <td>409405</td>
                </tr>
            
                <tr>
                    <td>Жидачов</td>
                    <td>409405</td>
                </tr>
            
                <tr>
                    <td>Глиняны</td>
                    <td>409405</td>
                </tr>
            
                <tr>
                    <td>Добромиль</td>
                    <td>409405</td>
                </tr>
            
                <tr>
                    <td>Германия</td>
                    <td>405268</td>
                </tr>
            
                <tr>
                    <td>Виноградное (Калмыкия)</td>
                    <td>402734</td>
                </tr>
            
                <tr>
                    <td>Япония</td>
                    <td>391992</td>
                </tr>
            
                <tr>
                    <td>Бельгия</td>
                    <td>390011</td>
                </tr>
            
                <tr>
                    <td>Мальта</td>
                    <td>354148</td>
                </tr>
            
            </table>
            <h2>График</h2>
            <img src="/static/images/city_salary_all_trends.png" alt="Уровень зарплат по городам для всех профессий">
            <br><br>
            <h1>Уровень зарплат по городам для Backend-программистов</h1>
            <table border="1">
                <tr>
                    <th>Город</th>
                    <th>Средняя зарплата (RUB)</th>
                </tr>
        
                <tr>
                    <td>Сербия</td>
                    <td>601145</td>
                </tr>
            
                <tr>
                    <td>ОАЭ</td>
                    <td>482882</td>
                </tr>
            
                <tr>
                    <td>Словения</td>
                    <td>423774</td>
                </tr>
            
                <tr>
                    <td>Аргентина</td>
                    <td>403597</td>
                </tr>
            
                <tr>
                    <td>Австрия</td>
                    <td>392828</td>
                </tr>
            
                <tr>
                    <td>Турция</td>
                    <td>364603</td>
                </tr>
            
                <tr>
                    <td>Черногория</td>
                    <td>359779</td>
                </tr>
            
                <tr>
                    <td>Люксембург</td>
                    <td>352738</td>
                </tr>
            
                <tr>
                    <td>Финляндия</td>
                    <td>340723</td>
                </tr>
            
                <tr>
                    <td>Индонезия</td>
                    <td>337206</td>
                </tr>
            
                <tr>
                    <td>Заславль</td>
                    <td>332518</td>
                </tr>
            
                <tr>
                    <td>Липецк</td>
                    <td>323985</td>
                </tr>
            
                <tr>
                    <td>Дания</td>
                    <td>303046</td>
                </tr>
            
                <tr>
                    <td>Дзержинск (Беларусь)</td>
                    <td>291903</td>
                </tr>
            
                <tr>
                    <td>Япония</td>
                    <td>286837</td>
                </tr>
            
                <tr>
                    <td>Кипр</td>
                    <td>275623</td>
                </tr>
            
                <tr>
                    <td>Тернополь</td>
                    <td>274270</td>
                </tr>
            
                <tr>
                    <td>Германия</td>
                    <td>270871</td>
                </tr>
            
                <tr>
                    <td>Армения</td>
                    <td>268708</td>
                </tr>
            
                <tr>
                    <td>Тбилиси</td>
                    <td>265184</td>
                </tr>
            
            </table>
            <h2>График</h2>
            <img src="/static/images/city_salary_backend_trends.png" alt="Уровень зарплат по городам для Backend-программистов">
        